<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Playlists</title>
<link rel="stylesheet" th:href="@{/CSS/displayplaylists.css}">
</head>
<body>
	<h2>Enjoy Playlists</h2>
	<table border>
		<thead>
			<th id="name">Name
			</th>
			<th>Songs
			</th>
		</thead>

		<tbody>
			<tr th:each="playlist : ${allPlaylists}">
				<td th:text="${playlist.name}"></td>

				<td>
					<ul>
						<li th:each="song: ${playlist.songs}">
						<span th:text="${song.name}"></span>
						<audio controls>
						<source th:src="${song.link}" type="audio/mpeg">
						</audio>
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>