<!-- Login details page -->
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" th:href="@{/CSS/login.css}">
</head>
<body>
<form id = "login" action="/validateuser" method="post">
<h2>Welcome to login page</h2>
Email : <br><input type="text" name="email" placeholder="Enter your email" required>
Password : <br><input type="text" name="password" placeholder="Enter your password" required>
<button type="submit">Login</button>
</form>
</body>
</html>