
<!-- Register page completed -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
<link rel="stylesheet" th:href="@{/CSS/register.css}">
</head>
<body>
<form action="/registered" method="post" id="registrationForm">

<label>UserName : </label>
<input type="text" name = "username" minlength="5" maxlength="20" required/>
<br>
<label>Email : </label>
<input type="email" name = "email" required/>
<br>
<label>Password : </label>
<input type="password" name = "password" required/>
<br>

<div class="gender">
<label class="gender">Gender : </label>
<input type="radio" name="gender" value = "male" required/>Male
<input type="radio" name="gender" value = "female" required/>Female
<input type="radio" name="gender" value = "other" required/>Other
</div>
<br>
<div class="role">
<label class="role">Role : </label>
<input type="radio" name="role" value = "Admin" required/>Admin
<input type="radio" name="role" value = "Customer" required/>Customer
</div>
<br>

<label>Location : </label>
<textarea name= "address" required></textarea>
<br>

<input type="submit"/>
</form>
<script th:inline="javascript">

</script>



</body>
</html>