<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listen Songs</title>

<link rel="stylesheet" th:href="@{/CSS/viewallsongs.css}">
</head>
<body>
	<h2>Songs</h2>
	<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Genre</th>
				<th class="song">Play</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="song : ${allsongs}">
				<td th:text="${song.name}"></td>
				<td th:text="${song.artist}"></td>
				<td th:text="${song.genre}"></td>
				<td><audio controls>
						<source th:src="${song.link}" type="audio/mpeg">
					</audio></td>
			</tr>
		</tbody>
	</table>
</body>
</html>